@page "/Login"
@using MudBlazor
@using Bb.WebClient.UIComponents
@using Bb.ComponentModel.Translations
@using Bb.CustomComponents

<h3>Login</h3>


<MudPaper Class="pa-16 ma-2" Elevation="0">

    @foreach (PropertyObjectDescriptor property in Descriptor.Items)
    {
        <DynamicComponent Type="@property.EditorType" Parameters="@property.Parameters" />
    }
       
    <MudButton Variant="Variant.Filled" Color="Color.Primary">@TranslateService.Translate("p:LoginForm,k:Login,l:en-us,d:Login")</MudButton>


</MudPaper>