@page "/Translations"
@using MudBlazor
@using Bb.WebClient.UIComponents
@using Bb.ComponentModel.Translations
<h1>Translations</h1>

<Bb.MolecularSite.DataGrid.ComponentGrid T="TranslatedKeyLabel" Datas="@Translations" />
